<section class="profile">
  <span>You need to log in</span>
  
  <form class="form" onsubmit="handleSubmit()">
    <div class="group">
      <input
        type="email"
        placeholder="Your email"
        name="email"
        value=""
        autocomplete="off"
        required
      />
    </div>

    <div class="group">
      <input
        type="text"
        placeholder="Your name"
        name="name"
        value=""
        autocomplete="off"
        required
      />
    </div>

    <div class="group">
      <input
        type="password"
        placeholder="Your password"
        name="password"
        value=""
        autocomplete="off"
        required
      />
    </div>

    <div class="group">
      <input
        type="text"
        placeholder="Your avatar"
        name="avatar"
        value=""
        autocomplete="off"
        required
      />
    </div>

    <button type="submit" class="submit">Update</button>
  </form>
</section>
