.sidebar {
  width: 300px;
  padding: 24px;
  min-height: 423px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  line-height: 20px;
}

.menu {
  max-height: 350px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  overflow: auto;
}

.link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  
  &-active {
    color: var(--violet);
  }
  &:hover {
    color: var(--white);
  }
}



.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
